<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jira API Test Suite" parallel="false">
    <test name="Jira Tests">
    <classes>
        <class name="CRUDJiraIssueTest"/>
        <class name="CRUDJiraIssueWithCommentTest"/>
    </classes>
    </test>
</suite>